/vendor
/node_modules
/.env
/.idea
/.vscode
/storage
.DS_Store
*.log
composer.lock
phpunit.xml
.env.*
*.zip
*.tar.gz
/public/storage
/public/hot
/public/mix-manifest.json
/public/build
elmmac/ikhokha/.gitignore
elmmac/ikhokha/.testcURL.php
